{% extends "base2.html" %}
{% load static %}


{% block content %}
<section class="intro " >
    <div class="container"  >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Analysis</h1>
          <h2>We analyze the blockchain so that your team does not commit infractions, we help in the financial crime investigation units (IUF) to be able to track suspicious activities within the blockchain.</h2>

          
        </div>
        
      </div>
    </div>

</section>
<section class="section">
    <div class="container" data-aos="fade-left">
        <div class="row align-items-center">
            <!-- Lado izquierdo: Contenido -->
            <div class="col-lg-7 col-12 text-start">
                <h6 class="sub-heading"></h6>
                <h1 class="mb-15">We help protect your business to avoid fraud.</h1>					
                <hr class="w-100 bg-primary ms-0">
                <p class="fs-18 mb-20">
                    Enable travel rule enforcement by identifying cryptographic addresses belonging to virtual asset service providers (VASP).
                    Rest assured that you are making compliance decisions based on the largest and most accurate set of blockchain data ever created. We have been collecting data since 2013 and have linked hundreds of millions of crypto asset addresses to known entities. 
                    Chanblock improves operational efficiency.                
                </p>
                
            </div>
  
            <!-- Lado derecho: Imagen -->
            <div class="col-lg-5 col-12">
                <img src="{%static 'img/analysis2.png' %}" alt="Description of Image" class="left-img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container" data-aos="fade-right">
        <div class="row align-items-center">
           <!-- Lado derecho: Imagen -->
           <div class="col-lg-5 col-12 d-lg-block d-none">
            <img src="{%static 'img/security.png'%}" class="right-img-fluid" alt="Regulation Image"/>
        </div>
            <!-- Lado izquierdo: Texto -->
            <div class="col-lg-7 col-12">
                <h1 class="mb-15">You can always anticipate attacks by criminals</h1>					
                <hr class="w-100 bg-primary ms-0">					
                <p class="fs-18 mb-20">
                    We have many data access points spanning the growing crypto market, we will always be actively monitoring and preventing risk, no matter how quickly criminal organizations adapt.
                </p>
            </div>
            
           
        </div>
</section>
<section class="section">
    <div class="container" data-aos="fade-left">
        <div class="row align-items-center">
            <!-- Lado izquierdo: Contenido -->
            <div class="col-lg-7 col-12 text-start">
                <h6 class="sub-heading"></h6>
                <h1 class="mb-15">We help protect your business to avoid fraud.</h1>					
                <hr class="w-100 bg-primary ms-0">
                <p class="fs-18 mb-20">
                    Enable travel rule enforcement by identifying cryptographic addresses belonging to virtual asset service providers (VASP).
                    Rest assured that you are making compliance decisions based on the largest and most accurate set of blockchain data ever created. We have been collecting data since 2013 and have linked hundreds of millions of crypto asset addresses to known entities. 
                    Chanblock improves operational efficiency.                
                </p>
                
            </div>
  
            <!-- Lado derecho: Imagen -->
            <div class="col-lg-5 col-12">
                <img src="{%static 'img/market.png' %}" alt="Description of Image" class="left-img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="py-50 bg-white" data-aos="fade-up" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12 text-center">
          <h1 class="mb-15">Driving growth through compliance</h1>				
          <hr class="w-100 bg-primary">
        </div>
      </div>
      <br>
      <div class="row mt-30">
        
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
            
            <div class="box2-body">
             
                <h5> Crypto Monitoring</h5>
             
              
              <div class="fs-16 center">
                We verify that your cryptographic transactions. Automate the monitoring of addresses with AML/CFT sanctions so we guarantee that your team does not spend valuable time on these processes.              </div>
  
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
           
            <div class="box2-body">
              
                <h5>  VASP</h5>
              
              <div class="fs-16 center">
                It is important to understand the risk profile of virtual asset service providers (VASPs), such as exchanges, when evaluating them as clients or counterparties.              </div>
            
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
        
            <div class="box2-body">
                <h5>Crypto experts</h5>
              <div class="fs-16 center">
                The best in crypto regulation and technology are at your disposal to train professionals and to share research on money laundering typologies and regulatory trends.              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock%}