{% extends "base2.html" %}
{% load static %}


{% block content %}
<section class="intro " >
    <div class="container"  >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>MONITORING</h1>
          <h2>
            A great advantage in the cryptographic environment is regulatory compliance, since this generates more confidence in users. Chanblock has AML monitoring services that are constantly updated, in this way we guarantee that your team does not have to invest money in this sector.          </h2>
        </div>
        
      </div>
    </div>

</section>
<section class="section">
    <div class="container" data-aos="fade-left">
        <div class="row align-items-center">
            <!-- Lado izquierdo: Contenido -->
            <div class="col-lg-7 col-12 text-start">
                <h6 class="sub-heading"></h6>
                <h1 class="mb-15">We make the traceability of the transactions in the blockchain.</h1>					
                <hr class="w-100 bg-primary ms-0">
                <p class="fs-18 mb-20">
                    With our services we can isolate transactions to identify where it comes from and where it goes, no matter if it is jumping between different blockchains.
                    assets, including cryptocurrencies, tokens, and stablecoins. We help you keep a record of transactions so you can easily identify suspicious activity and create reports               
                </p>
                
            </div>
  
            <!-- Lado derecho: Imagen -->
            <div class="col-lg-5 col-12">
                <img src="{%static 'img/transaction.gif' %}" alt="Description of Image" class="left-img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container" data-aos="fade-right">
        <div class="row align-items-center">
           <!-- Lado derecho: Imagen -->
           <div class="col-lg-5 col-12 d-lg-block d-none">
            <img src="{%static 'img/crypto_knowledge.png'%}" class="right-img-fluid" alt="Regulation Image"/>
        </div>
            <!-- Lado izquierdo: Texto -->
            <div class="col-lg-7 col-12">
                <h1 class="mb-15">Expand your knowledge with our reports</h1>					
                <hr class="w-100 bg-primary ms-0">					
                <p class="fs-18 mb-20">
                    Always have the best and most up-to-date information on the blockchain at hand. created by experts in cryptography data extracted directly from the block chain and that we have refined for easy understanding in this way we help generate more confidence so that new users can access the crypto market.
                    Verify, test and quantify risk exposure with our independent experts. Identify operational gaps through one-off or scheduled risk assessments.                
                </p>
            </div>
            
           
        </div>
</section>

<section class="row-container" >
    <div class="container" data-aos="fade-up"  >
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12 text-center">
              <h1 class="mb-15">The future of finance is today</h1>				
              <hr class="w-100 bg-primary">
            </div>
          </div>
        <p class="fs-18 mb-20" style="text-align: center;">
            Work with the best professionals in the crypto compliance sector, we always stay up to date with the risk updates that are always present in the ecosystem. With Chanblock you will always be at the forefront with the highest standards of compliance.        </p>
        </p>
    </div>

</section>
<br>
<br>
<br>





{% endblock%}