{% extends "base2.html" %}
{% load static %}


{% block content %}
<section class="intro " >
    <div class="container"  >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>REGULATION</h1>
          <h2>We advise governments on Blockchain, We provide regulators with the ability to supervise transactions and ensure AML/CFT compliance.</h2>

          
        </div>
        
      </div>
    </div>

</section>
<section class="section">
    <div class="container" data-aos="fade-left">
        <div class="row align-items-center">
            <!-- Lado izquierdo: Contenido -->
            <div class="col-lg-7 col-12 text-start">
                <h6 class="sub-heading"></h6>
                <h1 class="mb-15">We do detection and monitoring of different crypto assets.</h1>					
                <hr class="w-100 bg-primary ms-0">
                <p class="fs-18 mb-20">
                    Set custom rules unique to your organization to ensure your compliance remains in control while evaluating only the necessary indicators of risk.
                    assets, including cryptocurrencies, tokens, and stablecoins.               
                </p>
                
            </div>
  
            <!-- Lado derecho: Imagen -->
            <div class="col-lg-5 col-12">
                <img src="{%static 'img/secure_assets.gif' %}" alt="Description of Image" class="left-img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container" data-aos="fade-right">
        <div class="row align-items-center">
           <!-- Lado derecho: Imagen -->
           <div class="col-lg-5 col-12 d-lg-block d-none">
            <img src="{%static 'img/crypto.gif'%}" class="right-img-fluid" alt="Regulation Image"/>
        </div>
            <!-- Lado izquierdo: Texto -->
            <div class="col-lg-7 col-12">
                <h1 class="mb-15">We track cryptocurrencies on the blockchain</h1>					
                <hr class="w-100 bg-primary ms-0">					
                <p class="fs-18 mb-20">
                    We help you comply with regulatory requirements while protecting you from financial crimes and thus avoid sanctioned entities.Rapidly advancing crypto regulations and increasing sophistication of attacks create an inability to run up-to-date compliance programs.                </p>
            </div>
            
           
        </div>
</section>

<section class="row-container" >
    <div class="container" data-aos="fade-up"  >
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12 text-center">
              <h1 class="mb-15">Has the best</h1>				
              <hr class="w-100 bg-primary">
            </div>
          </div>
        <p class="fs-18 mb-20" style="text-align: center;">
            We help you comply with regulatory requirements while protecting you from financial crimes and thus avoid sanctioned entities.Rapidly advancing crypto regulations and increasing sophistication of attacks create an inability to run up-to-date compliance programs.                </p>
        </p>
    </div>

</section>
<br>
<br>
<br>
<br>

<section class="py-50 bg-white" data-aos="fade-up" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12 text-center">
          <h1 class="mb-15">Regulators trust us</h1>				
          <hr class="w-100 bg-primary">
        </div>
      </div>
      <br>
      <div class="row mt-30">
        
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
            
            <div class="box2-body">
             
                <h5> Accurate data</h5>
             
              
              <div class="fs-16 center">
                We have an extensive database of different blockchains, which we have collected since 2013, and this information undergoes rigorous review and verification.            
            
            </div>
  
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
           
            <div class="box2-body">
              
                <h5>  Wide coverage of crypto assets</h5>
              
              <div class="fs-16 center">
                we make sure we have visibility throughout the crypto asset ecosystem. Our solutions support many crypto assets, including cryptocurrencies, tokens, and stablecoins.            
            </div>
            
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12">
          <div class="box2 no-shadow">
        
            <div class="box2-body">
                <h5>Training</h5>
              <div class="fs-16 center">
                Ensure your analysts to successfully detect illicit activities on the blockchain and enforce regulation.            
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  




{% endblock%}