{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-lg-80 py-30 overflow-xh">
    
    <div class="container-lg">
        <!-- Main content -->
        <section class="content">
                <div class="col-12">
                    <div class="box">
                        <div class="row">
                            
                             <!-- Columna para el ícono -->
                             <div class="row">
                                <div class="col d-flex align-items-start flex-column">
                                    <!-- Icono -->
                                    <span class="mb-2"><a href="#"><i class="cc {{coin_detail.asset.symbol}}" title="BTC"></i></a></span>
                                    
                                    <!-- Nombre del activo -->
                                    <h5 class="box-title mb-0">{{coin_detail.asset.name}}</h5>
                                    
                                    <!-- Símbolo del activo -->
                                    <small class="subtitle mt-0" style="font-size: smaller;">{{coin_detail.asset.symbol}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                         
                            <a id ='selectvalue' value={{coin_detail.profile.symbol_tradingview}}>
                            </a>                                                           
                                    <!-- TradingView Widget BEGIN -->
                                      <div  >
                                          <div style=" height: 600px" id="tradingview_0ab99"></div>
                                          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                          <script type="text/javascript">
                                            var symbolvalue = document.getElementById("selectvalue").getAttribute("value")
                                            
                                          new TradingView.widget(
                                          {
                                            "width": 980,
                                           "autosize":true,
                                          "symbol": symbolvalue,
                                          "interval": "D",
                                          "timezone": "Etc/UTC",
                                          "theme": "light",
                                          "style": "1",
                                          "locale": "en",
                                          "toolbar_bg": "#f1f3f6",
                                          "enable_publishing": false,
                                          "allow_symbol_change": true,
                                          "container_id": "tradingview_0ab99"
                                            }
                                                );
                                                </script>
                                      </div>
                                    <!-- TradingView Widget END-->                            
                            </div>           
                           
                        </div>
                        <br></br>
                        <div class="box-header with-border bg-info-light">
                            <h4 class="mb-0 fw-500 text-dark container"><span class="mdi mdi-calendar me-10"></span> OVERVIEW</h4>
                            </div>
                            <div class="row container">
                                
                                    <a class="p-15 mb-0 font-profile" style="text-align: justify"><strong>Project details</strong>{{coin_detail.profile.project_details|linebreaks}}</a>
                                
                            </div>
                            <div class="row mb-30 container">
                                <div class="col-12 col-lg-4">
                                    <a class="p-15 mb-0 font-profile"><strong>Tagline: </strong> {{coin_detail.profile.tagline}}</a>
                                    <a class="p-15 mb-0 font-profile"><strong>Category: </strong> {{coin_detail.profile.category}}</a>
                                    
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a class="p-15 mb-0 font-profile"><strong>Sector: </strong>{{coin_detail.profile.sector}}</a>
                                    <a class="p-15 mb-0 font-profile"><strong>Inflation: </strong>{{coin_detail.asset.metrics.supply.annual_inflation_percent|floatformat:"3g"}}%</a>
                                    
                                    
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a class="p-15 mb-0 font-profile"><strong>high braken even multiple: </strong>{{coin_detail.asset.metrics.all_time_high.breakeven_multiple|floatformat:"3g"}}</a>                                   
                                </div>
                            
                            </div>
                           <br>
                           
                            <div class="accordion " id="accordionExample">                                                                                          
                                <div class=" box-header accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h4 class="mb-0 fw-500 text-dark"> Economics</h4>
                                    </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="row mb-30 container">
                                            <div class="row ">
                                                <div class="popup-gallery p-15">
                                                    <a class="p-15 mb-0 font-profile "><strong>Launch details: </strong> <p style="text-align: justify">{{coin_detail.profile.economics_launchDetails}}</p></a>
                                                </div>                                       
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <a class="p-15 mb-0 font-profile"><strong>Token name: </strong>{{coin_detail.profile.economics.token.token_name}}</a>
                                                <a class="p-15 mb-0 font-profile"><strong>Token usage:</strong> {{coin_detail.profile.economics.token.token_usage}}</a>                                           
                                            </div>
                                            <div class="col-12 col-lg-8">
                                                <a class="p-15 mb-0 font-profile"><strong>Token type: </strong> {{coin_detail.profile.economics.token.token_type}}</a>
                                                <a class="p-15 mb-0 font-profile"><strong>Launch style:</strong>  {{coin_detail.profile.economics.launch.general.launch_style}}</a>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" box-header accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                        <h4 class="mb-0 fw-500 text-dark"> Regulation</h4>
                                    </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="popup-gallery p-15 container">
                                            <a class="p-15 mb-0 font-profile"><p style="text-align: justify">{{coin_detail.profile.regulatory_details}}</p></a>
            
                                        </div>
                                    </div>
                                </div>                            
                                <div class=" box-header accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                        <h4 class="mb-0 fw-500 text-dark"> Gobernance</h4>
                                    </button>
                                    </h2>
                                     <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="popup-gallery p-15 container">
                                            <a class="p-15 mb-0 font-profile" style="text-align: justify">{{coin_detail.profile.governance|linebreaks}}</a>
            
                                        </div>
                                    </div>
                                </div>                              
                                <div class="box-header accordion-item">
                                  <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="mb-0 fw-500 text-dark">Technology</h4>
                                    </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="popup-gallery p-15 container">
                                        <a class="p-15 mb-0 font-profile" style="text-align: justify">{{coin_detail.profile.technology|linebreaks}}</a>
        
                                    </div>
                                  </div>
                                </div>
                                <div class=" box-header accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                                        <h4 class="mb-0 fw-500 text-dark">Roi by year</h4>
                                    </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <br>
                                        <div class="row">                                 
                            
                                            {%for key in coin_detail.asset.metrics.roi_by_year%} 
                                            <div class="col-lg-2 col-12">
                                                <br>
                                                <div class="box ">                                       
                                                    <div class="box-body">  
                                                        <h4><strong>Year: {{key.0}} </strong> </h4>
                                                        {%if key.1 < 0 %}                                                                                      
                                                        <h4><a style="color:#FF0000">{{key.1|floatformat:"2g"}}%</a><h4>
                                                        {%else%} 
                                                        <h4><a  style="color:#4293FF">{{key.1|floatformat:"2g"}}%</a><h4>
                                                        {%endif%}
                                                    </div>
                                                
                                                </div>
                                            
                                            </div>
                                            {%endfor%}  
                                            
                                        </div> 
                                    
                                    </div>
                                </div> 
                                <div class=" box-header accordion-item ">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapseOne">
                                            <h4 class="mb-0 fw-500 text-dark"> Roadmap</h4>
                                        </button>
                                    </h2>
                                    <div id="collapse" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    
                                        <div class="row">                                 
                                           <br>
                                            <div class="timeline timeline-line-dotted">
                                                <br>
                                                {%for roadmap in coin_detail.profile.roadmap%} 
                                                <span class="timeline-label">
                                                    <span class="badge badge-pill bg-info  badge-lg">{{roadmap.date}}</span>
                                                </span>
                                                <div class="timeline-item">
                                                    <div class="timeline-point timeline-point-success">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <div class="timeline-event">
                                                        <div class="timeline-heading">
                                                            <h4 class="timeline-title"> <strong>{{roadmap.title}}</strong></h4>
                                                           
                                                        </div>
                                                        <div class="timeline-body" style="text-align: justify">
                                                            {{roadmap.details|linebreaks}}
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">                                                           
                                                                    <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">{{roadmap.title}} details</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        {{roadmap.details}} {{roadmap.title}}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                   
                                                                   
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {%endfor%}
                                                <span class="timeline-label">
                                                    <a  class="btn btn-dark btn-rounded" title="end...">
                                                        <i class="fa fa-fw fa-times" ></i>
                                                    </a>
                                                </span>
                                            </div>
                                           
                                          
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>  
                           
                        </div>                
                    </div>
                </div>		  
              
        </section>
        <!-- /.content -->
    </div> 

        {% with coin_name=coin_detail.asset.name %}
            {% include "chat/chat-component.html" with coin_name=coin_name %}
        {% endwith %}   
</section>

<link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.2.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.2.min.css" rel="stylesheet" type="text/css"> 
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js"
        crossorigin="anonymous"></script>



{%endblock%}