{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{%static 'css/chanblock.css'%}">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script src="{%static 'js/chanblock.js'%}"></script>

<section class="bt-1 bb-1 overflow-xh" data-aos="fade-up">
    <div class="row"> 
        <div class="col-12"> 
                                     
            <br>  
             <!-- Link to open the modal -->
 
            
            <div class="container" align="right">
                <div class="dropdown">
                    
                    <button class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="left" title="You cant build graph choice the metrics">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Add or change Graph
                  </button>
                 
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#noBackdrop" >Graph # 1</a></li>
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#noBackdrop1">Graph # 2</a></li>
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#noBackdrop2">Graph # 3</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/notes/listNotes/{{user.id}}"   class="dropdown-item" >List notes {{user.username}} </a></li>
                    {%endif%}
                    </ul>
                </div>
            </div>
            <!-- Modal HTML addGraphics -->
            <div id="noBackdrop" class="modal fade" data-backdrop="false" role="dialog" aria-labelledby="exampleModalCenterTitle">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle"> <strong>Add Graphics</strong></h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">By metric</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">By crypto</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <br><br>                                        
                                        <form id="form_gridGraphA" action="addGraphics" method="post">
                                            {% csrf_token %}
                                            <div class="form-group"> 
                                                <label for="metric">Metrics</label>                  
                                                <select class="form-select" data-live-search="true" id="metric" name="metric">
                                                    {%for metric in variable_coinmetrics%}                                            
                                                        <option value={{metric.0}} >{{metric.1}}</option>                                              
                                                    {%endfor%}
                                                </select>
                                            </div>                                            
                                            <br><br>
                                            <div class="form-group" > 
                                                <label for="assets">Crypto</label>
                                                <select class="selectpicker  form-control dropup"  data-dropup-auto="false" multiple  id="assets" name="assets">
                                                    {%for assets in showcollection %}
                                                    <option value={{assets}}>{{assets}}</option>
                                                    {%endfor%}    
                                                </select> 
                                                <br><br>
                                                <div id="spinnerA"></div>
                                                <br><br><br><br>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Graph  by metric</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form>                                        
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <br><br>
                                        <label for="sel1">Crypto</label>
                                        <form id="form_gridGraphB" action="addGraphics" method="post">
                                            {% csrf_token %}
                                            <select class="form-select" id="assets" name="assets">
                                                {%for assets in showcollection %}
                                                <option value={{assets}}>{{assets}}</option>
                                                {%endfor%} 
                                            </select>
                                            <br><br>
                                            <label for="metric">Metrics</label>
                                            <select class="selectpicker form-control dropup" data-dropup-auto="false" multiple id="metric" name="metric">
                                                {%for metric in variable_coinmetrics%}
                                                <option value={{metric.0}} ><a>{{metric.1|cut:" " }}</a></option>
                                                {%endfor%}    
                                            </select>
                                            <br><br>
                                            <div id="spinnerB"></div>
                                            <br><br><br><br>
                                            <button type="submit" class="btn btn-primary">Graph by Crypto</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form> 
                                        
                                    </div>
                                </div>
                            </div>
            
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- Modal HTML Graph#2 -->
            <div id="noBackdrop1" class="modal fade" data-backdrop="false" role="dialog" aria-labelledby="exampleModalCenterTitle">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle"> <strong>Add Graphics # 2</strong></h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true">By metric</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">By crypto</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                                        <br><br>                                        
                                        <form id="form_gridGraph1A" action="gridGraphics" method="post">
                                            {% csrf_token %}
                                            <input id="graph" name="graph" type="hidden" value="graph1">
                                            <div class="form-group"> 
                                                <label for="metric">Metrics</label>                  
                                                <select class="form-select" data-live-search="true" id="metric" name="metric">
                                                    {%for metric in variable_coinmetrics%}                                            
                                                        <option value={{metric.0}} >{{metric.1}}</option>                                              
                                                    {%endfor%}
                                                </select>
                                            </div>                                            
                                            <br><br>
                                            <div class="form-group" > 
                                                <label for="assets">Crypto</label>
                                                <select class="selectpicker  form-control dropup"  data-dropup-auto="false" multiple  id="assets" name="assets">
                                                    {%for assets in showcollection %}
                                                    <option value={{assets}}>{{assets}}</option>
                                                    {%endfor%}    
                                                </select>
                                                 <br><br>
                                                 <div id="spinner1A"></div>
                                                 <br><br><br><br>
                                                
                                            </div>
                                            <button type="submit" class="btn btn-primary">Graph  by metric</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form>                                        
                                    </div>
                                    <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                                        <br><br>
                                        <label for="sel1">Crypto</label>
                                        <form id="form_gridGraph1B" action="gridGraphics" method="post">
                                            {% csrf_token %}
                                            <input id="graph" name="graph" type="hidden" value="graph1">
                                            <select class="form-select" id="assets" name="assets">
                                                {%for assets in showcollection %}
                                                <option value={{assets}}>{{assets}}</option>
                                                {%endfor%} 
                                            </select>
                                            <br><br>
                                            <label for="metric">Metrics</label>
                                            <select class="selectpicker form-control dropup" data-dropup-auto="false" multiple id="metric" name="metric">
                                                {%for metric in variable_coinmetrics%}
                                                <option value={{metric.0}} ><a>{{metric.1|cut:" " }}</a></option>
                                                {%endfor%}    
                                            </select>
                                                <br><br>
                                                <div id="spinner1B"></div>
                                                <br><br><br><br>
                                            <button type="submit" class="btn btn-primary">Graph by Crypto</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form> 
                                        
                                    </div>
                                </div>
                            </div>
            
                        </div>
                       
                    </div>
                </div>
            </div>

            <!-- Modal HTML Graph#3 -->
            <div id="noBackdrop2" class="modal fade" data-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel"> <strong>Add Graphics # 3</strong></h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true">By metric</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">By crypto</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                                        <br><br>
                                        
                                        <form id="form_gridGraph2A" action="gridGraphics2" method="post">
                                            {% csrf_token %}
                                            <input id="graph" name="graph" type="hidden" value="graph2">
                                            <div class="form-group"> 
                                                <label for="metric">Metrics</label>                  
                                                <select class="form-select" data-live-search="true" id="metric" name="metric">
                                                    {%for metric in variable_coinmetrics%}                                            
                                                        <option value={{metric.0}} >{{metric.1}}</option>                                              
                                                    {%endfor%}
                                                </select>
                                            </div>                                            
                                            <br><br>
                                            <div class="form-group" > 
                                                <label for="assets">Crypto</label>
                                                <select class="selectpicker  form-control dropup"  data-dropup-auto="false" multiple  id="assets" name="assets">
                                                    {%for assets in showcollection %}
                                                    <option value={{assets}}>{{assets}}</option>
                                                    {%endfor%}    
                                                </select>
                                                <br><br>
                                                <div id="spinner2A"></div>
                                                <br><br><br><br>
                                                
                                            </div>
                                            <button type="submit" class="btn btn-primary">Graph  by metric</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form>

                                        
                                    </div>
                                    <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
                                        <br><br>
                                        <label for="sel1">Crypto</label>
                                        <form id="form_gridGraph2B" action="gridGraphics2" method="post">                    
                                            {% csrf_token %}
                                            <input id="graph" name="graph" type="hidden" value="graph2">
                                            <select class="form-select" id="assets" name="assets">
                                                {%for assets in showcollection %}
                                                <option value={{assets}}>{{assets}}</option>
                                                {%endfor%} 
                                            </select>
                                            <br><br>
                                            <label for="metric">Metrics</label>
                                            <select class="selectpicker form-control dropup" data-dropup-auto="false" multiple id="metric" name="metric">
                                                {%for metric in variable_coinmetrics%}
                                                <option value={{metric.0}} ><a>{{metric.1|cut:" " }}</a></option>
                                                {%endfor%}    
                                            </select>
                                                <br><br>
                                                <div id="spinner2B"></div>
                                                <br><br><br><br>
                                            <button type="submit" class="btn btn-primary">Graph by Crypto</button>&nbsp&nbsp<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                        </form> 
                                        
                                    </div>
                                </div>
                            </div>
            
                        </div>
                       
                    </div>
                </div>
            </div>
            <br>

            <form id="add_comment" action="{% url 'notes'%}" method="post">                        
                <!-- Graph #1 -->
                {% csrf_token %}
                <h1 align="center" class="container">Graph # 1</h1>              
                <div id="plot-content" class="container">              
                    {{div|safe}}
                    {{script|safe}}                     
                </div>
                <div class="col-lg-12 col-md-12 container" align="right">
                    <button id="show-hide_comment" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="button" autocomplete="off">Add comment</button>  
                </div>
                <br>
                <!--comment Graph #1 -->
                <div id="inputTextGraph1" class="container" style="display: none"> 
                    <input id="checked1"  type="hidden" value="1">
                    <input  id="dataGraph1" name="dataGraph1"  type="hidden" value='{{datagraph1}}'> 
                    <input id="id" name="id"  type="hidden" value='{{user.id}}'>                    
                        <div class="form-floating">                                  
                            <textarea class="form-control"  id="comment_graph1" name="comment_graph1"style="height: 100px"></textarea>
                            <label for="comment_graph1"><strong>Graph # 1. Comments:</strong></label>
                        </div>                    
                    <br>                                                   
                </div>
                <!-- Graph #2 -->  
                <h1 id="title2" align="center" class="container" style="display: none">Graph # 2</h1>
                
                <div id="plot-content1" class="container">                       
                    {{div1|safe}}
                    {{script1|safe}}               
                </div>
                <div id="btnComment2" class="col-lg-12 col-md-12 container" align="right" style="display: none">
                    <button id="show-hide_comment2" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="button" autocomplete="off">Add comment</button>                     
                </div>
                <!--comment Graph #2 -->
                <div id="inputTextGraph2" class="container" style="display: none">                    
                    <br> 
                    <input id="checked2"  type="hidden" value="1"> 
                    <input id="dataGraph2" name="dataGraph2" type="hidden" value=''>                                         
                    <div class="form-floating">                 
                        <textarea class="form-control"  id="comment_graph2" name="comment_graph2" style="height: 100px"></textarea>
                        <label for="comment_graph2"><strong>Graph # 2. Comments:</strong></label>
                    </div>                       
                    <br>
                </div>
                <!-- Graph #3 --> 
                <h1 id="title3" align="center" class="container" style="display: none">Graph # 3</h1>
                <div id="plot-content2" class="container">                                          
                    {{div2|safe}}
                    {{script2|safe}}                    
                </div>
                <div id="btnComment3" class="col-lg-12 col-md-12 container" align="right" style="display: none">
                    <button id="show-hide_comment3" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="button" autocomplete="off">Add comment</button>                      
                </div>
                <!--comment Graph #3 -->   
                <div id="inputTextGraph3"class="container" style="display: none">                        
                    <br>
                    <input id="checked3"  type="hidden" value="1">
                    <input  type="hidden" id="dataGraph3" name="dataGraph3"  value={{dataGraph3}}>
                    <div class="form-floating">                 
                        <textarea class="form-control"  id="comment_graph3" name="comment_graph3" style="height: 100px"></textarea>
                        <label for="comment_graph3"><strong>Graph # 3. Comments:</strong></label>
                    </div>
                    <br>                   
                </div>
                <br>
                <div class="col-lg-12 col-md-12 container" align="right">
                    {% if user.is_authenticated %}
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input  id="title" name="title" class="form-control" style="background-color: #eaf1fb" placeholder=" TITLE COMMENT(S)" required>
                                <button class="btn btn-warning" type="submit" >Save comment(s)</button>
                            </div>
                        </div>
                    {% endif %}
                
              
                </div>
            </form>
            <br>  
           
        </div> 
    </div>
</section>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.3.min.js"
        crossorigin="anonymous"></script>

<script >
    $("#form_gridGraphA").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
                
        var form = $(this);
        var actionUrl = form.attr('action');
         //alert(actionUrl);
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.<div class="spinner-grow text-secondary" role="status"><span class="visually-hidden">Loading...</span></div>
            beforeSend: function(){
                $("#spinnerA").css("display","block");
                //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                $("#spinnerA").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
               
            },
            success: function(data)
            {   
               // console.log(data); // show response from the php script.
               $("#spinnerA").css("display","none");
                indiceStartBokeh=data.indexOf("<script");
                indiceEndBokeh=data.indexOf("</div>");
                index= indiceEndBokeh + 6;
                $('#plot-content').html(data.substring(indiceStartBokeh,indiceEndBokeh))                          
                $("#noBackdrop .btn-close").click()
                indexMsg=data.indexOf("True");
                msg=data.substring(0,indexMsg); 
                if (msg.length > 3) {
                   // console.log(msg)
                   Swal.fire({
                    icon: 'warning',
                    title: 'Not found: '+msg,
                    showConfirmButton: false,
                    timer: 1500
                  })
                 }
                variableSymbol= data.substring(index);
                $('#dataGraph1').val(variableSymbol)
                
                
                                                            
            }
        }); 
                    
    });
    $("#form_gridGraphB").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
                
        var form = $(this);
        var actionUrl = form.attr('action');
        //alert(actionUrl);
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            beforeSend: function(){
                $("#spinnerB").css("display","block");
                //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                $("#spinnerB").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
               
            },
             success: function(data)
            {
                // show response from the php script.
                $("#spinnerB").css("display","none");
                indiceStartBokeh=data.indexOf("<script");
                indiceEndBokeh=data.indexOf("</div>");
                index= indiceEndBokeh + 6;
                $('#plot-content').html(data.substring(indiceStartBokeh,indiceEndBokeh))                          
                $("#noBackdrop .btn-close").click()
                console.log(data.substring(index));
                indexMsg=data.indexOf("True");
                msg=data.substring(0,indexMsg); 
                if (msg.length > 3) {
                   // console.log(msg)
                   Swal.fire({
                    icon: 'warning',
                    title: 'Not found: '+msg,
                    showConfirmButton: false,
                    timer: 1500
                  })
                 }
                variableSymbol= data.substring(index);
                $('#dataGraph1').val(variableSymbol)
                                                            
            }
        }); 
                    
    });
                $("#form_gridGraph1A").submit(function(e) {
                    e.preventDefault(); // avoid to execute the actual submit of the form.
                
                    var form = $(this);
                    var actionUrl = form.attr('action');
                    //alert(actionUrl);
                    $.ajax({
                        type: "POST",
                        url: actionUrl,
                        data: form.serialize(), // serializes the form's elements.
                        beforeSend: function(){
                            $("#spinner1A").css("display","block");
                            //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                            $("#spinner1A").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
                           
                        },
                        success: function(data)
                        {   
                            //console.log(data);
                            $("#spinner1A").css("display","none");
                            indiceStartBokeh=data.indexOf("<script");
                            indice = data.indexOf("</div>");
                            index= indice + 6;
                            variableSymbol= data.substring(index);
                           // console.log(data.substring(index));
                           // show response
                          $('#dataGraph2').val(variableSymbol)
                          $('#plot-content1').html(data.substring(indiceStartBokeh,index))                                                   
                          $("#noBackdrop1 .btn-close").click()
                          $("#title2").css("display","block");
                          $("#btnComment2").css("display","block");

                          indexMsg=data.indexOf("True");
                          msg=data.substring(0,indexMsg); 
                          if (msg.length > 3) {
                            // console.log(msg)
                            Swal.fire({
                                icon: 'warning',
                                title: 'Not found: '+msg,
                                showConfirmButton: false,
                                timer: 1500
                            })
                          }
                        
                     
                        }
                    }); 
                    
                });
                $("#form_gridGraph1B").submit(function(e) {
                    // alert('data');
                    e.preventDefault(); // avoid to execute the actual submit of the form.                 
                    var form = $(this);
                    var actionUrl = form.attr('action');
                    //alert(actionUrl);
                    $.ajax({
                         type: "POST",
                         url: actionUrl,
                         data: form.serialize(), // serializes the form's elements.
                         beforeSend: function(){
                            $("#spinner1B").css("display","block");
                            //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                            $("#spinner1B").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
                           
                        },
                         success: function(data)
                        {
                           //alert('success'); // show response from the php script.
                           $("#spinner1B").css("display","none");
                           indiceStartBokeh=data.indexOf("<script");
                            indice = data.indexOf("</div>");
                            index= indice + 6;
                            variableSymbol= data.substring(index);
                           $('#plot-content1').html(data.substring(indiceStartBokeh,index))                          
                           $("#noBackdrop1 .btn-close").click()
                           $("#title2").css("display","block");
                           $("#btnComment2").css("display","block");
                           $('#dataGraph2').val(variableSymbol);
                           indexMsg=data.indexOf("True");
                           msg=data.substring(0,indexMsg); 
                           if (msg.length > 3) {
                            // console.log(msg)
                             Swal.fire({
                                 icon: 'warning',
                                 title: 'Not found: '+msg,
                                 showConfirmButton: false,
                                 timer: 1500
                            })
                           }
                           
                        }
                    }); 
                     
                });		        
                $("#form_gridGraph2A").submit(function(e) {
                    // alert('data');
                     e.preventDefault(); // avoid to execute the actual submit of the form.
                 
                     var form = $(this);
                     var actionUrl = form.attr('action');
                     //alert(actionUrl);
                     $.ajax({
                         type: "POST",
                         url: actionUrl,
                         data: form.serialize(), // serializes the form's elements.
                         beforeSend: function(){
                            $("#spinner2A").css("display","block");
                            //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                            $("#spinner2A").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
                           
                        },
                         success: function(data)
                         {
                           //alert('success'); // show response from the php script.
                           $("#spinner2A").css("display","none");
                            indiceStartBokeh=data.indexOf("<script");
                            indice = data.indexOf("</div>");
                            index= indice + 6;
                            variableSymbol= data.substring(index);
                           $('#plot-content2').html(data.substring(indiceStartBokeh,index));                          
                           $("#noBackdrop2 .btn-close").click();
                           $("#title3").css("display","block");
                           $("#btnComment3").css("display","block");
                           $('#dataGraph3').val(variableSymbol);
                           indexMsg=data.indexOf("True");
                           msg=data.substring(0,indexMsg); 
                           if (msg.length > 3) {
                            // console.log(msg)
                             Swal.fire({
                                 icon: 'warning',
                                 title: 'Not found: '+msg,
                                 showConfirmButton: false,
                                 timer: 1500
                            })
                           }
                         }
                     }); 
                     
                });
                $("#form_gridGraph2B").submit(function(e) {
                     e.preventDefault(); // avoid to execute the actual submit of the form.
                 
                     var form = $(this);
                     var actionUrl = form.attr('action');
                     //alert(actionUrl);
                    $.ajax({
                         type: "POST",
                         url: actionUrl,
                         data: form.serialize(), // serializes the form's elements.
                         beforeSend: function(){
                            $("#spinner2B").css("display","block");
                            //$("#spinner").html("<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>")
                            $("#spinner2B").html(" <div class='d-flex align-items-center'><strong>Loading...</strong><div class='spinner-border ms-auto' role='status' aria-hidden='true'></div></div>")
                           
                        },
                         success: function(data)
                         {
                            // show response from the php script.
                            $("#spinner2B").css("display","none");
                            indiceStartBokeh=data.indexOf("<script");
                            indice = data.indexOf("</div>");
                            index= indice + 6;
                            variableSymbol= data.substring(index);
                           $('#plot-content2').html(data.substring(indiceStartBokeh,index));                          
                           $("#noBackdrop2 .btn-close").click();
                           $("#title3").css("display","block");
                           $("#btnComment3").css("display","block");
                           $('#dataGraph3').val(variableSymbol);
                           indexMsg=data.indexOf("True");
                           msg=data.substring(0,indexMsg); 
                           if (msg.length > 3) {
                            // console.log(msg)
                             Swal.fire({
                                 icon: 'warning',
                                 title: 'Not found: '+msg,
                                 showConfirmButton: false,
                                 timer: 1500
                            })
                           }
                         }
                    }); 
                     
                });
                
                $("#show-hide_comment").click(function() {
                    var checked= $('#checked1').val()
                    if (checked == '1') {
                        $("#inputTextGraph1").css("display","block");
                        $('#checked1').val("0")
                        $("#show-hide_comment").html('Hide comment');
                    }else{
                        $("#inputTextGraph1").css("display","none");
                        $('#checked1').val("1")
                        $("#show-hide_comment").html('Add comment');
                    }                                          
                }); 

                $("#show-hide_comment2").click(function() {
                    var checked= $('#checked2').val()
                    if (checked == '1') {
                        $("#inputTextGraph2").css("display","block");
                        $('#checked2').val("0")
                        $("#show-hide_comment2").html('Hide comment');
                    }else{
                        $("#inputTextGraph2").css("display","none");
                        $('#checked2').val("1")
                        $("#show-hide_comment2").html('Add comment');
                    }                                          
                });

                $("#show-hide_comment3").click(function() {
                    var checked= $('#checked3').val()
                    if (checked == '1') {
                        $("#inputTextGraph3").css("display","block");
                        $('#checked3').val("0")
                        $("#show-hide_comment3").html('Hide comment');
                    }else{
                        $("#inputTextGraph3").css("display","none");
                        $('#checked3').val("1")
                        $("#show-hide_comment3").html('Add comment');
                    }                                          
                });

        
        
        </script>

{%endblock%}