    /* Estilo General */
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
    }

  

    .box{
        padding: 30px;  
    }
    .box-body {
        padding: 10px;  /* Ajusta este valor según el espacio que desees */
    }

    .box-body-scale {
        padding-left: 60px; 
        /* transform: scaleX(0.92); */
        width: 95%;

       
    }

    /* Cabecera */
    h1 {
        font-size: 2em;
        color: #555;
        text-align: center;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.4em;
    }

    /* Tabla */
    thead tr {
        background-color: #f5f5f5;
    }

    table {
        

        border-collapse: collapse;
        margin: 20px 0;
    }

    td, th {
        padding: 10px 15px;
        border-bottom: 1px solid #e5e5e5;
    }

    a.hover-warning {
        color: #f39c12;
        text-decoration: none;
    }

    a.hover-warning:hover {
        color: #e67e22;
    }

    .box-title {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    /* Estilo para los enlaces de las monedas en la columna 'Crypto' */
    td a.hover-warning {
        color: #000; /* Letra negra */
        text-decoration: none; /* No subrayado */
    }

    /* Estilo cuando se pasa el mouse sobre los enlaces de las monedas en la columna 'Crypto' */
    td a.hover-warning:hover {
        color: #f39c12; /* Cambia a amarillo al pasar el mouse */
    }

    /* Alertas */
    .alert {
        border-radius: 4px;
        border: 1px solid #fecd57;
    }


             
.btn-grad {
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  }
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  }

  

  .container {
    max-width: 800px;
}

/* Estilo de la tabla */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

table {
    width: 80%;
    font-size: 0.9em;
}



th, td {
    padding: 8px;
    text-align: left;
}

/* th {
    
    background-color: #3e3d3d;
    color: #e2e8f0;
} */

tr:hover {
    background-color: #edf2f7;
}

/* Estilo del botón de envío */
.submit-btn {
    background-color: #48bb78;
    color: #f7fafc;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #38a169;
}

/* Estilo para encabezados de categoría */
.category-header {
    background-color: #2d3748;
    color: #f7fafc;
    font-weight: bold;
}


/* Estilos personalizados para la navbar vertical */

    .vertical-navbar {
        position: fixed;
        top: 60px; /* Ajustar según la altura del navbar superior */
        left: 0;
        width: 280px;
        height: calc(100vh - 60px); /* Ajusta la altura para que sea el alto de la ventana menos el alto del navbar superior */
        overflow-x: hidden;
        align-items: flex-start;
        margin: 20px;

    }
    .navbar-nav {
        flex-direction: column;
        
        
    }

    .vertical-navbar a, .vertical-navbar label {
        font-size: 14px; /* Puedes ajustar este valor según tus necesidades */
    }
    
    .form-check-test {
        border: none;
        padding: 5;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
    @media (max-width: 768px) {
        .btn-narrow {

            width: 200px;
          
            
        }
    }