{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section class="py-lg-80 py-30 bg-dark3 overflow-xh" class="py-lg-80 py-30 bg-dark3" style="background-image: url({%static 'img/services/map-2.png'%}); background-position: top center;">
		<div class="container">
		  
			<div class="row justify-content-center">
				<div class="col-12">
					
					<div  style="text-align: left" >
						<h1 class="box-title text-white mb-20 fw-600 fs-60" >EDUCATION</h1>
						<h3 class="text-white-80 fw-300 mb-30">We analyze the blockchain so that your team does not commit infractions, we help in the financial crime investigation units (UFI) to be able to track suspicious activities within the blockchain.
					</div>
				</br>
				</div>		   
			</div>
		</div>
	</section> 
	
	<section >
		<div class="container" >
			<br> <br>	
			<h1 style="text-align: center">crypto compliance training</h1>
			<br>
			<h4 class="fs-18 mb-20" style="text-align: center">Learn with your team about crypto assets. improve your risk procedures. Chanblock maintains the highest standards of regulatory compliance.<br><br>work with our crypto AML specialists to design or customize your risk rules to reduce financial crime risks.</h4>																										
		</div>
	</section>
	
	<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-12 text-start">
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">Be guided by experts in the cryptographic environment.</h1>					
					
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20">All the information presented by Chanblock is developed by experts, in addition, everything is backed by the large database that we have created, which is continuously reviewed and updated by our work team.<br><br>We demonstrate to regulators that we are committed to continuing compliance education. Get essential training for crypto firms, financial institutions, financial intelligence units (FIUs) and compliance professionals with Education to stay up-to-date. with the pace of financial crime facilitated through cryptocurrency transactions.</p>								
								<div class="text-center d-flex gap-3 justify-content-start">
									{% comment %} <a href="#" class="btn btn-primary">Explore the tool</a>
									<a href="https://www.youtube.com/channel/UCbcRX17baOMJDT2tQGMdyAQ" class="btn btn-outline btn-primary"> <i class="fa fa-youtube-play me-10"></i>Watch the tutorial</a> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                        <img src="{%static 'img/services/educacion1.jpg'%}"/>                    
				</div>
			</div>
		</div>
	</section>
	
	<section class="bt-1 py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">		
			<div class="row mt-30 align-items-center">					
						<div class="col-lg-5 col-12 d-lg-block d-none" >                               
							<img src="{%static 'img/services/educacion2.jpg'%}"/>                    
					</div>				
				<div class="col-lg-7 col-12">					
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">Expand your knowledge with our reports</h1>					
					<hr class="w-100 bg-primary ms-0">					
					<p class="fs-18 my-30">Always have the best and most up-to-date information on the blockchain at hand. created by experts in cryptography data extracted directly from the block chain and that we have refined for easy understanding in this way we help generate more confidence so that new users can access the crypto market.<br><br>verify, test and quantify risk exposure with our independent experts. Identify operational gaps through one-off or scheduled risk assessments.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-12 text-start">
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">the future of finance is today</h1>					
					
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20">Work with the best professionals in the crypto compliance sector, we always stay up to date with the risk updates that are always present in the ecosystem. With Chanblock you will always be at the forefront with the highest standards of compliance.</p>								
								<div class="text-center d-flex gap-3 justify-content-start">
									{% comment %} <a href="#" class="btn btn-primary">Explore the tool</a>
									<a href="https://www.youtube.com/channel/UCbcRX17baOMJDT2tQGMdyAQ" class="btn btn-outline btn-primary"> <i class="fa fa-youtube-play me-10"></i>Watch the tutorial</a> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                        <img src="{%static 'img/services/educacion3.jpg'%}"/>                    
				</div>
			</div>
		</div>
	</section>

	
	
	<section class="py-50 bg-white" data-aos="fade-up">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-12 text-center">					
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">Future is today</h1>					
					<hr class="w-100 bg-primary">
				</div>
			</div>
			<div class="row mt-30">
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">Individuals</div><br>
							<div class="fs-16" style="text-align: justify">Work with crypto compliance professionals. We keep up with the rapidly developing risks in the changing financial landscape.</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">Crypto Businesses/Financial Institutions</div><br>
							<div class="fs-16" style="text-align: justify" >We help improve the level of your team regarding regulatory issues, we help you prevent money laundering through the use of our services.</div>
							
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">Regulators</div> <br>
							<div class="fs-16" style="text-align: justify">we train financial intelligence units (FIUs) with in-depth knowledge of cryptoAML practices, red flags and typologies to better protect the integrity of the financial system.
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}