{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css"> 
	#regulation {
		padding-top: 0px;
		margin-top: 0px;
	}
</style>

<section class="bt-1 bb-1 overflow-xh" data-aos="fade-up">
	<div class="row">
			<div class="col-12">
				<div class="box mb-0">
				  <div class="box-body">
					  <!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container">
						  <div class="tradingview-widget-container__widget"></div>
						  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
						  {
						  "symbols": [
							{
							  "proName": "BITSTAMP:BTCUSD",
							  "title": "BTC/USD"
							},
							{
							  "proName": "BITSTAMP:ETHUSD",
							  "title": "ETH/USD"
							},
							{
							  "description": "DOGEU/USDT",
							  "proName": "BINANCE:DOGEUSDT"
							},
							{
							  "description": "BTC/EUR",
							  "proName": "COINBASE:BTCEUR"
							},
							{
							  "description": "XRP/USD",
							  "proName": "BITFINEX:XRPUSD"
							},
							{
							  "description": "LINK/USDT",
							  "proName": "BINANCE:LINKUSDT"
							},
							{
							  "description": "ADAU/USDT",
							  "proName": "BINANCE:ADAUSDT"
							}
						  ],
						  "showSymbolLogo": true,
						  "colorTheme": "light",
						  "isTransparent": true,
						  "displayMode": "adaptive",
						  "locale": "in"
						}
						  </script>
						</div>
						<!-- TradingView Widget END -->
				  </div>
			  </div>
			</div>
		</div>
</section>

<section class="py-lg-80 py-30 bg-dark3 overflow-xh" class="py-lg-80 py-30 bg-dark3" style="background-image: url({%static 'img/map-2.png'%}); background-position: top center;">
		<div class="container">
		  
			<div class="row justify-content-center">
				<div class="col-12">					
					<div class="text-center" >
					<h1><a href="{% url 'form_register_email'%}" class="box-title text-white mb-20" id='hover' >Haz click para suscribirse y recibir alertas en tiempo real cuando mtgox  mueva o venda BTC</a></h1>
					</div>
				</br>
				</div>
				<div class="col-lg-3 col-12">
					<div class="widget footer_widget clearfix"> 
						<form id='form_home_email'method="post">
							{% csrf_token %}
							<div class="input-group">
								<input id="inputemail" name="email" required="required" class="form-control" placeholder="Your Email Address" type="email">
								<button type="submit" class="btn btn-primary"> <i class="fa fa-envelope"></i> </button>
							</div>
						</form>
					   
					</div>
				</div>			   
			</div>
		</div>
</section> 
	
   

<section >
	<div class="container" >
		<br> <br>																						
		<h2 style="text-align: center">Somos una empresa de análisis de datos, ofrecemos datos de las diferentes blockchains, ayudamos a las empresas de criptomonedas e instituciones tanto privadas como gubernamentales a aumentar su confianza en la interacción con el criptomercado.<br>
		<br>Estamos contribuyendo a la regulación de las criptomonedas para aumentar el acceso de los consumidores de forma segura.</h2>															
	</div>
</section>

<section  style="padding-top: 20px" class="bt-1 py-lg-100 py-50 overflow-xh" data-aos="fade-up" >
	<div class="container">		
		<div class="row mt-30 align-items-center" id="regulation">
			<div class="col-lg-5 col-12 d-lg-block d-none ">
				<!-- <img src="{%static 'img/services/reserva.png'%}"/> -->
				<p class="fs-18 my-30">Soy un experto en criptomonedas y me encantaría ayudarte a aprovechar al máximo este apasionante mundo digital. Si está interesado en discutir sus ideas, aprender más sobre las criptomonedas o simplemente necesita algún consejo en esta área, no dude en programar una reunión conmigo. ¡Estoy aqui para ayudarte!.
			</div>
			<div class="col-lg-7 col-12">					
				<h1 class="mb-15">AGENDA TU CITA</h1>					
				<hr class="w-100 bg-primary ms-0">						
				
				</p>	
				<!-- Principio del widget integrado de Calendly -->
				<div class="calendly-inline-widget" data-url="https://calendly.com/info-chanblock?hide_landing_page_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
				<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
				<!-- Final del widget integrado de Calendly -->
												
			</div>
		</div>
	</div>
</section>

<section  style="padding-top: 20px" class="bt-1 py-lg-100 py-50 overflow-xh" data-aos="fade-up" >
	<div class="container">		
		<div class="row mt-30 align-items-center" id="regulation">
			<div class="col-lg-5 col-12 d-lg-block d-none ">
				<img src="{%static 'img/services/education.jpg'%}"/>
			</div>
			<div class="col-lg-7 col-12">					
				<h1 class="mb-15">EDUCACIÓN</h1>					
				<hr class="w-100 bg-primary ms-0">						
				<p class="fs-18 my-30">Formar profesionales a cargo del cumplimiento de normativas, empresas web3, instituciones financieras para el futuro, orientándolos a prevenir estafas, exploits en su código.
				</p>									
			</div>
		</div>
	</div>
</section>

<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-12 text-start">
				<h6 class="sub-heading"></h6>
				<h1 class="mb-15">ANÁLISIS</h1>					
				<hr class="w-100 bg-primary ms-0">
					
				<ul class="nav nav-pills" role="tablist">
					<li class="nav-item"> <a class="nav-link active fs-18 py-15" data-bs-toggle="tab" href="#home7" role="tab">UIF</a> </li>
					<li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#profile7" role="tab">VASP</a> </li>
					<li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#messages7" role="tab">AML/CTF</a> </li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home7" role="tabpanel">
						<div class="py-15">
							<p class="fs-18 mb-20">Analizamos el blockchain para que tu equipo no cometa infracciones, ayudamos en las unidades de investigación de delitos financieros (IUF) para poder rastrear actividades sospechosas dentro del blockchain.</p>								
						</div>
					</div>
					<div class="tab-pane" id="profile7" role="tabpanel">
						<div class="py-15">
							<p class="fs-18 mb-20"> Los VASP (Proveedores de Servicios de Activos Virtuales) son vitales para comprender el impacto de las Regulaciones en los negocios y servicios criptográficos. Mediante nuestro seguimiento continuo prevenimos el blanqueo de capitales y la financiación del terrorismo a través de estos servicios.
							</p>
						</div>
					</div>
					<div class="tab-pane" id="messages7" role="tabpanel">
						<div class="py-15">
							<p class="fs-18 mb-20">Los controles AML/CFT, cuando se implementan de manera efectiva en el sector de las criptomonedas, mitigan los efectos adversos de la actividad económica delictiva y promueven la integridad y la estabilidad en los mercados financieros.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                <img src="{%static 'img/services/imag1.jpg'%}"/>                    
			</div>
		</div>
	</div>
</section>
	
	
<section  style="padding-top: 20px" class="bt-1 py-lg-100 py-50 overflow-xh" data-aos="fade-up" >
		<div class="container">		
			<div class="row mt-30 align-items-center" id="regulation">
				<div class="col-lg-5 col-12 d-lg-block d-none">
                    <img src="{%static 'img/services/regulation.jpg'%}"/>
				</div>
				<div class="col-lg-7 col-12">					
					<h1 class="mb-15">REGULACIÓN</h1>					
					<hr class="w-100 bg-primary ms-0">					
					<p class="fs-18 my-30">Asesoramos a los gobiernos sobre Blockchain. Brindamos a los reguladores la capacidad de supervisar transacciones y garantizar el cumplimiento ALD/CFT.<br>
						Contamos con expertos en criptorregulación, tecnología blockchain, listos para capacitar a otros profesionales sobre tipologías de lavado de dinero y tendencias regulatorias.
                        .</p>
					
					<div class="countnm-bx">
						<div class="row">
							<div class="col-xl-3 col-6">
								<div class="bg-white box-shadowed rounded p-20 mb-30">
									<h1 class="my-10 fw-300"><span class="countnm">70</span>k</h1>
									<p class="text-uppercase mb-0">consumers</p>
								</div>
							</div>
							<div class="col-xl-3 col-6">
								<div class="bg-white box-shadowed rounded p-20 mb-30">
									<h1 class="my-10 fw-300"><span class="countnm">2</span>+</h1>
									<p class="text-uppercase mb-0">countries</p>
								</div>
							</div>
							<div class="col-xl-3 col-6">
								<div class="bg-white box-shadowed rounded p-20 mb-30">
									<h1 class="my-10 fw-300"><span class="countnm">50</span>+</h1>
									<p class="text-uppercase mb-0">industries</p>
								</div>
							</div>
							<div class="col-xl-3 col-6">                            
								<div class="bg-white box-shadowed rounded p-20 mb-30">
									<h1 class="my-10 fw-300"><span class="countnm">650</span>k</h1>
									<p class="text-uppercase mb-0">brands</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="text-center d-flex gap-3 justify-content-start">
						{% comment %} <a href="#" class="btn btn-primary">Explore the tool</a>
						<a href="https://www.youtube.com/channel/UCbcRX17baOMJDT2tQGMdyAQ" class="btn btn-outline btn-primary"> <i class="fa fa-youtube-play me-10"></i>Watch the tutorial</a> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
</section>

<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-12 text-start">
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">MONITOREO</h1>					
					<hr class="w-100 bg-primary ms-0">
					
					<ul class="nav nav-pills" role="tablist">
						<li class="nav-item"> <a class="nav-link active fs-18 py-15" data-bs-toggle="tab" href="#home7" role="tab">Mt.Gox</a> </li>
						<li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#profile7" role="tab">Rich Wallets</a> </li>
						{% comment %} <li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#messages7" role="tab">AML/CTF</a> </li> {% endcomment %}
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20">Explore billeteras criptográficas en tiempo real y proteja su negocio de los delitos financieros. Descubra vínculos con el lavado de dinero, el financiamiento del terrorismo y las entidades sancionadas con perfiles de riesgo holísticos desde una billetera que da cuenta de todas las transacciones en todas las principales cadenas de bloques y activos.</p>								
							</div>
						</div>
						<div class="tab-pane" id="profile7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20"> Access a database in which we have identified the wallets with the largest amount of cryptocurrencies belonging to different blockchains.
								</p>
							</div>
						</div>						
					</div>
				</div>
				<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                        <img src="{%static 'img/merkatBTC.png'%}"/>                    
				</div>
			</div>
		</div>
</section>


    

<section class="py-50 bg-white" data-aos="fade-up">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-12 text-center">					
					<h6 class="sub-heading">Nuestros servicios</h6>
					<h1 class="mb-15">Ahorra tiempo y dinero con Chanblock</h1>					
					<hr class="w-100 bg-primary">
				</div>
			</div>
			<div class="row mt-30">
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"><i class="fa fa-trophy"></i></span>
							<div class="fw-600 fs-18 mb-2 mt-15">soluciones para negocios</div>
							<div class="fs-16">Es muy importante no tener interacción con criptomonedas involucradas en delitos, acceder a una API o un script con el que su empresa pueda estar siempre un paso por delante de los delincuentes.</div>
							<a href="#" class="d-block mt-30 fs-18 hover-primary"> <i class="ms-5 fa fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"><i class="fa fa-user-secret"></i></span>
							<div class="fw-600 fs-18 mb-2 mt-15">OFAC</div>
							<div class="fs-16">Monitoreamos las direcciones que son penalizadas, de esta manera podemos identificar cuando se está a punto de cometer un delito dentro de la cadena de bloques.
							</div>
							<a href="#" class="d-block mt-30 fs-18 hover-primary"><i class="ms-5 fa fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"><i class="fa fa-database"></i></span>
							<div class="fw-600 fs-18 mb-2 mt-15">Bases de datos</div>
							<div class="fs-16">accede a una gran base de datos, con información filtrada lista para que crees tablas de acuerdo a tus necesidades</div>
							<a href="#" class="d-block mt-30 fs-18 hover-primary">demo <i class="ms-5 fa fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
	
<section class="py-50" data-aos="fade-up">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-12 text-center">
					<h1 class="mb-15">Últimas noticias de Mt.Gox </h1>				
					<hr class="w-100 bg-primary">
				</div>
			</div>
			
			<div class="row mt-30">
				<div class="entry-image clearfix">
					
					<div class="owl-carousel bottom-dots-center owl-theme" data-nav-dots="true" data-autoplay="true"  data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
						<div class="item">                                
						</div>
						<div class="item">                               
						</div>
						<div class="item">
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
					  
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a >¿Las distribuciones de Mt. Gox reducirán aún más el precio de BTC?</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">                                
									<li><a ><i class="fa fa-calendar-o"></i> 21 de julio de 2022</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p style="text-align: justify">Mt. Gox News en julio de 2022, el síndico de Mt. Gox publicó una actualización de que el síndico se está "preparando para hacer pagos" de acuerdo con "el plan de rehabilitación aprobado". El fideicomisario actualmente posee aproximadamente 140 000 BTC, BCH y US$500 000.</p>
							</div>
	
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
						
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a>Víctimas de Mt. Gox podrían recibir parte de sus bitcoins a partir de agosto</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">
									<li><a ><i class="fa fa-calendar-o"></i> 7 de julio de 2022</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p style="text-align: justify">Víctimas del hackeo de la ya desaparecida casa de cambio de bitcoin (BTC) Mt.Gox, que costó la pérdida de más de 850 mil BTC, podrían recibir el reembolso de bitcoin a partir de agosto, en lo que podría traducirse como una amenaza de venta que podría dañar aún más la mercado ya turbulento.</p>
							</div>
						
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
				
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a>¿Qué es el pago de Mt Gox?</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">  
									<li><a ><i class="fa fa-calendar-o"></i> 12 ago 2022</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p style="text-align: justify">En el año 2010 se lanzó la casa de cambio de criptomonedas Mt Gox, cuya sede estaba ubicada en la región especial de Shibuya, en la ciudad de Tokio, Japón. en 2014, el intercambio fue pirateado, Mt Gox se ha establecido como una de las plataformas de intercambio de bitcoins más grandes del mundo. De hecho, logró manejar alrededor del 70% de todas las transacciones realizadas en esta criptomoneda.</p>
							</div>
						  
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock%}