{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section class="py-lg-80 py-30 bg-dark3 overflow-xh" class="py-lg-80 py-30 bg-dark3" style="background-image: url({%static 'img/services/map-2.png'%}); background-position: top center;">
		<div class="container">
		  
			<div class="row justify-content-center">
				<div class="col-12">
					
					<div  style="text-align: left" >
						<h1 class="box-title text-white mb-20 fw-600 fs-60" >REGULATION</h1>
						<h3 class="text-white-80 fw-300 mb-30">We advise governments on Blockchain, We provide regulators with the ability to supervise transactions and ensure AML/CFT compliance
					</div>
				</br>
				</div>		   
			</div>
		</div>
	</section> 
	
	
	<section >
		<div class="container" >
			<br> <br>	
			<h1 style="text-align: center">We have experts in crypto regulation, blockchain technology, willing to train other professionals</h1>
			<br>
			<h4 class="fs-18 mb-20" style="text-align: center">Fully automated real-time crypto asset transaction monitoring that tracks funds across blockchains and assets. Identify links to terrorist financing, sanctioned entities, and other illicit activities to provide leading anti-money laundering compliance and protect your business from financial crime.<br><br>we have visibility throughout the cryptoactive ecosystem. Our solutions cover many crypto assets, including cryptocurrencies, tokens, and stablecoins.</h4>																										
		</div>
	</section>
	
	<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-12 text-start">
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">We do detection and monitoring of different crypto assets.</h1>					
					
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20">Set custom rules unique to your organization to ensure your compliance remains in control while evaluating only the necessary indicators of risk.<br><br>we have visibility throughout the cryptoactive ecosystem. Our solutions cover many crypto assets, including cryptocurrencies, tokens, and stablecoins.</p>								
								<div class="text-center d-flex gap-3 justify-content-start">
									{% comment %} <a href="#" class="btn btn-primary">Explore the tool</a>
									<a href="https://www.youtube.com/channel/UCbcRX17baOMJDT2tQGMdyAQ" class="btn btn-outline btn-primary"> <i class="fa fa-youtube-play me-10"></i>Watch the tutorial</a> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                        <img src="{%static 'img/services/regulacion1.jpg'%}"/>                    
				</div>
			</div>
		</div>
	</section>
	
	<section class="bt-1 py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">		
			<div class="row mt-30 align-items-center">					
						<div class="col-lg-5 col-12 d-lg-block d-none" >                               
							<img src="{%static 'img/services/regulacion2.jpg'%}"/>                    
					</div>				
				<div class="col-lg-7 col-12">					
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">We track cryptocurrencies on the blockchain</h1>					
					<hr class="w-100 bg-primary ms-0">					
					<p class="fs-18 my-30">we help you comply with regulatory requirements while protecting you from financial crimes and thus avoid sanctioned entities.<br><br>Rapidly advancing crypto regulations and increasing sophistication of attacks create an inability to run up-to-date compliance programs</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-lg-100 py-50 overflow-xh" data-aos="fade-up">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-12 text-start">
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">has the best</h1>					
					
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home7" role="tabpanel">
							<div class="py-15">
								<p class="fs-18 mb-20">Chanblock has been working to be the best ally of regulators, FIUs and law enforcement agencies We have a large database that supports all our services.</p>								
								<div class="text-center d-flex gap-3 justify-content-start">
									{% comment %} <a href="#" class="btn btn-primary">Explore the tool</a>
									<a href="https://www.youtube.com/channel/UCbcRX17baOMJDT2tQGMdyAQ" class="btn btn-outline btn-primary"> <i class="fa fa-youtube-play me-10"></i>Watch the tutorial</a> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12 d-lg-block d-none" >                               
                        <img src="{%static 'img/services/regulacion3.jpg'%}"/>                    
				</div>
			</div>
		</div>
	</section>

	
	
	<section class="py-50 bg-white" data-aos="fade-up">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-12 text-center">					
					<h6 class="sub-heading"></h6>
					<h1 class="mb-15">Regulators trust us</h1>					
					<hr class="w-100 bg-primary">
				</div>
			</div>
			<div class="row mt-30">
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">accurate data</div><br>
							<div class="fs-16" style="text-align: justify">We have an extensive database of different blockchains, which we have collected since 2013, and this information undergoes rigorous review and verification.</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">wide coverage of crypto assets</div><br>
							<div class="fs-16" style="text-align: justify" >we make sure we have visibility throughout the crypto asset ecosystem. Our solutions support many crypto assets, including cryptocurrencies, tokens, and stablecoins.</div>
							
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="box no-shadow">
						<div class="box-body">
							<span class="text-primary fs-50"></span>
							<div class="fw-600 fs-18 mb-2 mt-15" style="text-align: center">Training</div> <br>
							<div class="fs-16" style="text-align: justify">ensure your analysts to successfully detect illicit activities on the blockchain and enforce regulation.
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}