
{% extends "base.html" %}
{% load static %}


{% block content %}



<section class="bt-1 bb-1 overflow-xh tradingView" data-aos="fade-up">
	<div class="row">
			<div class="col-12">
				<div class="box mb-0">
				  <div class="box-body">
					  <!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container">
						  <div class="tradingview-widget-container__widget"></div>
						  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
						  {
						  "symbols": [
							{
							  "proName": "BITSTAMP:BTCUSD",
							  "title": "BTC/USD"
							},
							{
							  "proName": "BITSTAMP:ETHUSD",
							  "title": "ETH/USD"
							},
							{
							  "description": "DOGEU/USDT",
							  "proName": "BINANCE:DOGEUSDT"
							},
							{
							  "description": "BTC/EUR",
							  "proName": "COINBASE:BTCEUR"
							},
							{
							  "description": "XRP/USD",
							  "proName": "BITFINEX:XRPUSD"
							},
							{
							  "description": "LINK/USDT",
							  "proName": "BINANCE:LINKUSDT"
							},
							{
							  "description": "ADAU/USDT",
							  "proName": "BINANCE:ADAUSDT"
							}
						  ],
						  "showSymbolLogo": true,
						  "colorTheme": "light",
						  "isTransparent": true,
						  "displayMode": "adaptive",
						  "locale": "in"
						}
						  </script>
						</div>
						<!-- TradingView Widget END -->
				  </div>
			  </div>
			</div>
		</div>
</section>
<section class="intro " >
    <div class="container"  >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Chanblock</h1>
          <h2>Specialists in blockchain data analysis, we boost confidence in crypto interactions for businesses and institutions.</h2>

          
        </div>
        
      </div>
    </div>

</section>

<section class="analysis-section">
  <div class="container" data-aos="fade-left">
      <div class="row align-items-center">
          <!-- Lado izquierdo: Contenido -->
          <div class="col-lg-7 col-12 text-start">
              <h6 class="sub-heading"></h6>
              <h1 class="mb-15">ANALYSIS</h1>					
              <hr class="w-100 bg-primary ms-0">

              <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item"> <a class="nav-link active fs-18 py-15" data-bs-toggle="tab" href="#home7" role="tab">UIF</a> </li>
                  <li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#profile7" role="tab">VASP</a> </li>
                  <li class="nav-item"> <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#messages7" role="tab">AML/CTF</a> </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="home7" role="tabpanel">
                      <div class="py-15">
                          <p class="fs-18 mb-20 color_secundary ">We analyze the blockchain so that your team does not commit infractions, we help in the financial crime investigation units (IUF) to be able to track suspicious activities within the blockchain.</p>
                      </div>
                  </div>
                  <div class="tab-pane" id="profile7" role="tabpanel">
                      <div class="py-15">
                          <p class="fs-18 mb-20 color_secundary"> VASPs (Virtual Asset Service Providers) are vital to understanding the impact of regulations on crypto businesses and services. Through our continuous monitoring, we prevent money laundering and the financing of terrorism through these services.
                          </p>
                      </div>
                  </div>
                  <div class="tab-pane" id="messages7" role="tabpanel">
                      <div class="py-15">
                          <p class="fs-18 mb-20">Anti-Money Laundering/Combating the Financing of Terrorism (AML/CFT). AML/CFT controls, when effectively implemented in the crypto sector, mitigate the adverse effects of criminal economic activity and promote integrity and stability in financial markets.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Lado derecho: Imagen -->
          <div class="col-lg-5 col-12">
              <img src="{%static 'img/analysis.png' %}" alt="Description of Image" class="img-fluid">
          </div>
      </div>
  </div>
</section>
<section class="regulation-section">
  <div class="container" data-aos="fade-right">
      <div class="row align-items-center">
         <!-- Lado derecho: Imagen -->
         <div class="col-lg-5 col-12 d-lg-block d-none">
          <img src="{%static 'img/regulation.png'%}" class="img-fluid" alt="Regulation Image"/>
      </div>
          <!-- Lado izquierdo: Texto -->
          <div class="col-lg-7 col-12">
              <h1 class="mb-15">REGULATION</h1>					
              <hr class="w-100 bg-primary ms-0">					
              <p class="fs-18 mb-20">
                  We advise governments on Blockchain. We provide regulators with the ability to supervise transactions and ensure AML/CFT compliance.
                  <br>
                  We have experts in crypto regulation, blockchain technology, ready to train other professionals on money laundering typologies and regulatory trends.
              </p>
          </div>
          
         
      </div>
  </div>
</section>

<section class="monitoring-section">
  <div class="container" data-aos="fade-left">
      <div class="row align-items-center">
         
          <!-- Lado derecho: Texto -->
          <div class="col-lg-7 col-12">
              <h6 class="sub-heading"></h6>
              <h1 class="mb-15">MONITORING</h1>					
              <hr class="w-100 bg-primary ms-0">					
              <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item"> 
                      <a class="nav-link active fs-18 py-15" data-bs-toggle="tab" href="#home7" role="tab">Mt.Gox</a> 
                  </li>
                  <li class="nav-item"> 
                      <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#profile7" role="tab">Rich Wallets</a> 
                  </li>
                  <!-- This section is commented out as per your code -->
                  {% comment %} 
                  <li class="nav-item"> 
                      <a class="nav-link py-15 fs-18" data-bs-toggle="tab" href="#messages7" role="tab">AML/CTF</a> 
                  </li> 
                  {% endcomment %}
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="home7" role="tabpanel">
                      <div class="py-15">
                          <p class="fs-18 mb-20">Browse crypto wallets in real time and protect your business from financial crime. Uncover links to money laundering, terrorist financing, and sanctioned entities with holistic risk profiles from a wallet that accounts for all transactions across all major blockchains and assets.</p>								
                      </div>
                  </div>
                  <div class="tab-pane" id="profile7" role="tabpanel">
                      <div class="py-15">
                          <p class="fs-18 mb-20"> Access a database in which we have identified the wallets with the largest amount of cryptocurrencies belonging to different blockchains.</p>
                      </div>
                  </div>						
              </div>
          </div>

           <!-- Lado izquierdo: Imagen -->
           <div class="col-lg-5 col-12 d-lg-block d-none">
            <img src="{%static 'img/monitoring.png'%}" class="img-fluid" alt="Monitoring Image"/>
        </div>

      </div>
  </div>
</section>
<section class="education-section">
  <div class="container" data-aos="fade-right">
      <div class="row align-items-center">
          <!-- Lado izquierdo: Imagen -->
          <div class="col-lg-5 col-12 d-lg-block d-none">
              <img src="{%static 'img/education.png'%}" class="img-fluid" alt="Education Image"/>
          </div>

          <!-- Lado derecho: Texto -->
          <div class="col-lg-7 col-12">
              <h1 class="mb-15">EDUCATION</h1>					
              <hr class="w-100 bg-primary ms-0">						
              <p class="fs-18 mb-20">
                  Train professionals in charge of compliance with regulations, web3 companies, financial institutions for the future, guiding them how to prevent from SCAMS, to exploits in their code.
              </p>									
          </div>
      </div>
  </div>
</section>

<section class="py-50 bg-white" data-aos="fade-up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-12 text-center">					
        <h6 class="sub-heading">Our Service</h6>
        <h1 class="mb-15">Save time & money with Chanblock</h1>					
        <hr class="w-100 bg-primary">
      </div>

    </div>
    <br>
    <div class="row mt-30">
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box1 no-shadow">
          <div class="box1-body">
            <span class="material-icons md-48">business</span>
            <h4>Business solutions</h4>
            <div class="fs-16 mb-18">It is very important not to have interaction with cryptocurrencies involved in crimes, access an API or a script with which your company can always be one step ahead of criminals.</div>
            <a href="#" class="d-block mt-30 fs-18 hover-primary"> <i class="ms-5 fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box1 no-shadow">
          <div class="box1-body">
            <span class="material-icons md-48">
              security
              </span>
            <h4>Ofac</h4>
            <div class="fs-16 mb-18">We monitor the addresses that are penalized, in this way we can identify when a crime is about to be committed within the blockchain
                              .</div>
            <a href="#" class="d-block mt-30 fs-18 hover-primary"><i class="ms-5 fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box1 no-shadow">
          <div class="box1-body">
            <span class="material-icons md-48">
              table_chart
              </span>
            <h4>Databases</h4>
            <div class="fs-16">Access a large database, with filtered information ready for you to create tables according to your needs
                          </div>
            <a href="#" class="d-block mt-30 fs-18 hover-primary">demo <i class="ms-5 fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<section class="py-50 bg-white" data-aos="fade-up" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-12 text-center">
        <h1 class="mb-15">Latest Mt.Gox News </h1>				
        <hr class="w-100 bg-primary">
      </div>
    </div>
    <br>
    <div class="row mt-30">
      
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box2 no-shadow">
          
          <div class="box2-body">
           
              <h5>  Mt. Gox distributions crash the BTC price further</h5>
           
            
            <div class="fs-16 center">
              <span class="material-symbols-outlined">
                calendar_month
                </span> 21 Jul 2022<br>Mt. Gox news in July 2022, the Mt. Gox trustee posted an update that the trustee is “preparing to make repayments” in “accordance with the approved rehabilitation plan”. The trustee currently holds approximately 140,000 BTC, BCH and U.S.$500,000.
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box2 no-shadow">
         
          <div class="box2-body">
            
              <h5>  Victims of Mt. Gox could receive part of their bitcoins as early as August</h5>
            
            <div class="fs-16 center">
              <span class="material-symbols-outlined">
                calendar_month
                </span> 7 Jul 2022 <br>Victims of the hack of the now defunct bitcoin (BTC) exchange Mt.Gox, which cost the loss of more than 850 thousand BTC, could receive bitcoin repayment as August, in what could be translated as a threat of sale that could further damage the already turbulent market.
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12">
        <div class="box2 no-shadow">
      
          <div class="box2-body">
              <h5>What is payout Mt Gox?</h5>
            <div class="fs-16 center">
              <span class="material-symbols-outlined">
                calendar_month
                </span>12 Aug 2022 <br>In 2010, the Mt Gox cryptocurrency exchange was launched, whose headquarters were located in the special region of Shibuya, in the city of Tokyo, Japan. in 2014 the exchange was hacked, Mt Gox has established itself as one of the largest bitcoin exchange platforms in the world. In fact, it managed to handle about 70% of all transactions made in this cryptocurrency.
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}

